server {
    listen {{ controller_ip }};
    server_name {{ ansible_fqdn }};

    access_log /var/log/nginx/openstack_dashboard.access.log main;
    error_log  /var/log/nginx/openstack_dashboard.error.log info;

    large_client_header_buffers  4 32k;

    location /static {
        alias /usr/share/openstack-dashboard/static;
        access_log off;
        expires max;
    }

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
