# {{ ansible_managed }}

[DEFAULT]
debuf = False

resync_interval = 30

# The DHCP agent requires an interface driver be set. Choose the one that best
# matches your plugin.
interface_driver = neutron.agent.linux.interface.OVSInterfaceDriver

# Name of Open vSwitch bridge to use
ovs_integration_bridge = br-int

# The agent can use other DHCP drivers.  Dnsmasq is the simplest and requires
# no additional setup of the DHCP server.
dhcp_driver = neutron.agent.linux.dhcp.Dnsmasq

# Allow overlapping IP (Must have kernel build with CONFIG_NET_NS=y and
# iproute2 package that supports namespaces).
use_namespaces = True

# Domain to use for building the hostnames
dhcp_domain = {{ dhcp_domain | default("os.local") }}

# Override the default dnsmasq settings with this file
dnsmasq_config_file = /etc/neutron/dnsmasq-neutron.conf

# Comma-separated list of DNS servers which will be used by dnsmasq
# as forwarders.
# dnsmasq_dns_servers =
