[DEFAULT]

verbose = true
debug = false

bind_host = 0.0.0.0
bind_port = 9191

log_file = /var/log/glance/registry.log
backlog = 4096
use_syslog= false

[database]
connection = mysql://glance:{{ glance_dbpass }}@localhost/glance
idle_timeout = 3600

[keystone_authtoken]
auth_uri = http://{{ controller_ip }}:5000/v2.0
auth_host = {{ controller_ip }}
auth_port = 35357
auth_protocol = http
admin_tenant_name = services
admin_user = glance
admin_password = {{ glance_password }}

[paste_deploy]
#config_file = /etc/glance/glance-registry-paste.ini
flavor=keystone
