[DEFAULT]

verbose=True
debug=false

default_store = file
known_stores = glance.store.filesystem.Store
#               glance.store.http.Store,
#               glance.store.rbd.Store,
#               glance.store.s3.Store,
#               glance.store.swift.Store,
#               glance.store.sheepdog.Store,
#               glance.store.cinder.Store,

bind_host = 0.0.0.0
bind_port = 9292

#use_syslog = False
log_file = /var/log/glance/api.log
backlog = 4096

workers = 4

enable_v1_api = True
enable_v2_api = True

registry_host = 0.0.0.0
registry_port = 9191
registry_client_protocol = http

notification_driver = messaging

rabbit_host = localhost
rabbit_port = 5672
rabbit_use_ssl = false
rabbit_userid = glance
rabbit_password = {{ glance_mqpass }}
rabbit_virtual_host = /
rabbit_notification_exchange = glance
rabbit_notification_topic = notifications
rabbit_durable_queues = False

image_cache_dir = /var/lib/glance/image-cache/
filesystem_store_datadir = /var/lib/glance/images/
delayed_delete = False

[database]
connection = mysql://glance:{{ glance_dbpass }}@localhost/glance
idle_timeout = 3600

[keystone_authtoken]
auth_uri = http://{{ controller_ip }}:5000/v2.0
auth_host = {{ controller_ip }}
auth_port = 35357
auth_protocol = http
admin_tenant_name = services
admin_user = glance
admin_password = {{ glance_password }}

[paste_deploy]
#config_file = /etc/glance/glance-api-paste.ini
flavor=keystone
