# {{ ansible_managed }}
# /etc/my.cnf: The global mysql configuration file.

# The following options will be passed to all clients
[client]
port				= {{ mysql_port }}
socket				= /var/lib/mysql/mysql.sock

[mysql]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqladmin]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqlcheck]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqldump]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqlimport]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[mysqlshow]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=utf8

[myisamchk]
character-sets-dir=/usr/share/mysql/charsets

[myisampack]
character-sets-dir=/usr/share/mysql/charsets

# use [safe_mysqld] with mysql-3
[mysqld_safe]
err-log				= /var/log/mariadb/mariadb.log

# add a section [mysqld-4.1] or [mysqld-5.0] for specific configurations
[mysqld]
character-set-server		= utf8
user 				= mysql
port 				= {{ mysql_port }}
socket 				= /var/lib/mysql/mysql.sock
pid-file 			= /var/run/mariadb/mariadb.pid
log-error 			= /var/log/mariadb/mariadb.log
basedir 			= /usr
datadir 			= /var/lib/mysql
skip-external-locking
key_buffer 			= 16M
max_allowed_packet 		= 1M
table_open_cache 		= 64
sort_buffer_size 		= 512K
net_buffer_length 		= 8K
read_buffer_size 		= 256K
read_rnd_buffer_size 		= 512K
myisam_sort_buffer_size 	= 8M
language 			= /usr/share/mysql/english

# security:
# using "localhost" in connects uses sockets by default
# skip-networking
{% if mysql_bind_address is defined %}
bind-address			= {{ mysql_bind_address }}
{% endif %}

log-bin
server-id 			= {{ mysql_db_id }}

# point the following paths to different dedicated disks
tmpdir 				= /tmp/
#log-update 			= /path-to-dedicated-directory/hostname

# if needed, uncomment them, start the server and issue
# #tail -f /tmp/mysqld.sql /tmp/mysqld.trace
# this will show you *exactly* what's happening in your server ;)

#log				= /tmp/mysqld.sql
#gdb
#debug				= d:t:i:o,/tmp/mysqld.trace
#one-thread

# uncomment the following directives if you are using BDB tables
#bdb_cache_size			= 4M
#bdb_max_lock			= 10000

# the following is the InnoDB configuration
# if you wish to disable innodb instead
# uncomment just the next line
#skip-innodb
innodb
default-storage-engine = InnoDB
# the rest of the innodb config follows:
# don't eat too much memory, we're trying to be safe on 64Mb boxes
# you might want to bump this up a bit on boxes with more RAM
innodb_buffer_pool_size = 16M
# this is the default, increase it if you have lots of tables
innodb_additional_mem_pool_size = 2M
#
# i'd like to use /var/lib/mysql/innodb, but that is seen as a database :-(
# and upstream wants things to be under /var/lib/mysql/, so that's the route
# we have to take for the moment
#innodb_data_home_dir		= /var/lib/mysql/
#innodb_log_arch_dir		= /var/lib/mysql/
#innodb_log_group_home_dir	= /var/lib/mysql/
# you may wish to change this size to be more suitable for your system
# the max is there to avoid run-away growth on your machine
innodb_data_file_path = ibdata1:10M:autoextend:max:128M
# we keep this at around 25% of of innodb_buffer_pool_size
# sensible values range from 1MB to (1/innodb_log_files_in_group*innodb_buffer_pool_size)
innodb_log_file_size = 5M
# this is the default, increase it if you have very large transactions going on
innodb_log_buffer_size = 8M
# this is the default and won't hurt you
# you shouldn't need to tweak it
innodb_log_files_in_group=2
# see the innodb config docs, the other options are not always safe
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_file_per_table

[mysqldump]
quick
max_allowed_packet 		= 16M

[mysql]
# uncomment the next directive if you are not familiar with SQL
#safe-updates

[isamchk]
key_buffer 			= 20M
sort_buffer_size 		= 20M
read_buffer 			= 2M
write_buffer 			= 2M

[myisamchk]
key_buffer 			= 20M
sort_buffer_size 		= 20M
read_buffer 			= 2M
write_buffer 			= 2M

[mysqlhotcopy]
interactive-timeout
