# {{ ansible_managed }}

[DEFAULT]
verbose = True
debug = False

# Where to store Neutron state files.
state_path = /var/lib/neutron
# Where to store lock files
lock_path = $state_path/lock

#use_syslog = True
log_dir = /var/log/neutron

bind_host = 0.0.0.0
bind_port = 9696

# (StrOpt) Neutron core plugin entrypoint to be loaded from the
# neutron.core_plugins namespace. See setup.cfg for the entrypoint names of the
# plugins included in the neutron source distribution. For compatibility with
# previous versions, the class name of a plugin can be specified instead of its
# entrypoint name.
#core_plugin = neutron.plugins.openvswitch.ovs_neutron_plugin.OVSNeutronPluginV2
core_plugin = neutron.plugins.ml2.plugin.Ml2Plugin

# (ListOpt) List of service plugin entrypoints to be loaded from the
# neutron.service_plugins namespace. See setup.cfg for the entrypoint names of
# the plugins included in the neutron source distribution. For compatibility
# with previous versions, the class name of a plugin can be specified instead
# of its entrypoint name.
# Example: service_plugins = router,firewall,lbaas,vpnaas,metering
service_plugins = neutron.services.l3_router.l3_router_plugin.L3RouterPlugin


#api_paste_config = api-paste.ini

auth_strategy = keystone

base_mac = fa:16:3e:00:00:00
mac_generation_retries = 16
dhcp_lease_duration = 86400
dhcp_agent_notification = True
allow_bulk = True
allow_pagination = False
allow_sorting = False
allow_overlapping_ips = False

agent_down_time = 75

api_workers = 4

rpc_workers = 4

use_ssl = False

# Notifications can be sent when network/subnet/port are create, updated or deleted.
# There are three methods of sending notifications: logging (via the
# log_file directive), rpc (via a message queue) and
# noop (no notifications sent, the default)
notification_driver = neutron.openstack.common.notifier.rpc_notifier
notification_topics = notifications

router_scheduler_driver = neutron.scheduler.l3_agent_scheduler.ChanceScheduler

dhcp_agents_per_network = 1

# ======== neutron nova interactions ==========
# Send notification to nova when port status is active.
notify_nova_on_port_status_changes = True

# Send notifications to nova when port data (fixed_ips/floatingips) change
# so nova can update it's cache.
notify_nova_on_port_data_changes = True

# URL for connection to nova (Only supports one nova region currently).
nova_url = http://{{ controller_ip }}:8774/v2

# Name of nova region to use. Useful if keystone manages more than one region
nova_region_name = {{ keystone_region }}

# Username for connection to nova in admin context
nova_admin_username = nova

# The uuid of the admin nova tenant
nova_admin_tenant_id = {{ services_tenant.id }}

# Password for connection to nova in admin context.
nova_admin_password = {{ nova_password }}

# Authorization URL for connection to nova in admin context.
nova_admin_auth_url = http://{{ controller_ip }}:35357/v2.0

# Number of seconds between sending events to nova if there are any events to send
send_events_interval = 2

# ======== end of neutron nova interactions ==========

kombu_reconnect_delay=1.0

rabbit_host = {{ controller_ip }}
rabbit_password = {{ neutron_mqpass }}
rabbit_port = 5672
rabbit_userid = neutron
rabbit_virtual_host = /
rabbit_max_retries = 0
rabbit_retry_interval = 1

rabbit_hosts={{ controller_ip }}:5672
rabbit_ha_queues = False

rpc_backend = neutron.openstack.common.rpc.impl_kombu
control_exchange = neutron

[quotas]
# Default driver to use for quota checks
# quota_driver = neutron.db.quota_db.DbQuotaDriver

# Resource name(s) that are supported in quota features
# quota_items = network,subnet,port

# Default number of resource allowed per tenant. A negative value means
# unlimited.
# default_quota = -1

# Number of networks allowed per tenant. A negative value means unlimited.
# quota_network = 10

# Number of subnets allowed per tenant. A negative value means unlimited.
# quota_subnet = 10

# Number of ports allowed per tenant. A negative value means unlimited.
# quota_port = 50

# Number of security groups allowed per tenant. A negative value means
# unlimited.
# quota_security_group = 10

# Number of security group rules allowed per tenant. A negative value means
# unlimited.
# quota_security_group_rule = 100

# Number of vips allowed per tenant. A negative value means unlimited.
# quota_vip = 10

# Number of pools allowed per tenant. A negative value means unlimited.
# quota_pool = 10

# Number of pool members allowed per tenant. A negative value means unlimited.
# The default is unlimited because a member is not a real resource consumer
# on Openstack. However, on back-end, a member is a resource consumer
# and that is the reason why quota is possible.
# quota_member = -1

# Number of health monitors allowed per tenant. A negative value means
# unlimited.
# The default is unlimited because a health monitor is not a real resource
# consumer on Openstack. However, on back-end, a member is a resource consumer
# and that is the reason why quota is possible.
# quota_health_monitors = -1

# Number of routers allowed per tenant. A negative value means unlimited.
# quota_router = 10

# Number of floating IPs allowed per tenant. A negative value means unlimited.
# quota_floatingip = 50

[agent]
root_helper=sudo neutron-rootwrap /etc/neutron/rootwrap.conf
report_interval = 30

[keystone_authtoken]
#auth_host = {{ controller_ip }}
#auth_port = 35357
#auth_protocol = http
identity_uri = http://{{ controller_ip }}:35357
admin_tenant_name = services
admin_user = neutron
admin_password = {{ neutron_password }}
auth_uri=http://{{ controller_ip }}:5000/

signing_dir = $state_path/keystone-signing

[database]
connection = mysql://neutron:{{ neutron_dbpass }}@{{ controller_ip }}/neutron
max_retries = 10
retry_interval = 10
idle_timeout = 3600

[service_providers]
# Specify service providers (drivers) for advanced services like loadbalancer, VPN, Firewall.
# Must be in form:
# service_provider=<service_type>:<name>:<driver>[:default]
# List of allowed service types includes LOADBALANCER, FIREWALL, VPN
# Combination of <service type> and <name> must be unique; <driver> must also be unique
# This is multiline option, example for default provider:
# service_provider=LOADBALANCER:name:lbaas_plugin_driver_path:default
# example of non-default provider:
# service_provider=FIREWALL:name2:firewall_driver_path
# --- Reference implementations ---
# service_provider = LOADBALANCER:Haproxy:neutron.services.loadbalancer.drivers.haproxy.plugin_driver.HaproxyOnHostPluginDriver:default
service_provider=LOADBALANCER:Haproxy:neutron.services.loadbalancer.drivers.haproxy.plugin_driver.HaproxyOnHostPluginDriver:default
service_provider=VPN:openswan:neutron.services.vpn.service_drivers.ipsec.IPsecVPNDriver:default

# In order to activate Radware's lbaas driver you need to uncomment the next line.
# If you want to keep the HA Proxy as the default lbaas driver, remove the attribute default from the line below.
# Otherwise comment the HA Proxy line
# service_provider = LOADBALANCER:Radware:neutron.services.loadbalancer.drivers.radware.driver.LoadBalancerDriver:default
# uncomment the following line to make the 'netscaler' LBaaS provider available.
# service_provider=LOADBALANCER:NetScaler:neutron.services.loadbalancer.drivers.netscaler.netscaler_driver.NetScalerPluginDriver
# Uncomment the following line (and comment out the OpenSwan VPN line) to enable Cisco's VPN driver.
# service_provider=VPN:cisco:neutron.services.vpn.service_drivers.cisco_ipsec.CiscoCsrIPsecVPNDriver:default
# Uncomment the line below to use Embrane heleos as Load Balancer service provider.
# service_provider=LOADBALANCER:Embrane:neutron.services.loadbalancer.drivers.embrane.driver.EmbraneLbaas:default
