# {{ ansible_managed }}
{% set local_ip = hostvars[ansible_hostname]['ansible_'+admin_if].ipv4.address %}

[DEFAULT]
verbose = True
debug = False

#
# Options defined in nova.paths
#
state_path=/var/lib/nova
lock_path = $state_path/lock

# (Optional) The base directory used for relative --log-file
# paths (string value)
# Deprecated group;name - DEFAULT;logdir
log_dir=/var/log/nova

# Use syslog for logging. Existing syslog format is DEPRECATED
# during I, and then will be changed in J to honor RFC5424
# (boolean value)
use_syslog=false

#
# Options defined in nova.utils
#
rootwrap_config = /etc/nova/rootwrap.conf

#
# Options defined in oslo.messaging
#
rabbit_host = {{ controller_ip }}
rabbit_port = 5672
#rabbit_hosts=rabbit_host:5672
rabbit_use_ssl = false
rabbit_userid = nova
rabbit_password = {{ nova_mqpass }}
rabbit_virtual_host = /

rabbit_ha_queues=False

notification_driver=
notification_topics=notifications
rpc_backend = nova.openstack.common.rpc.impl_kombu

#
# Options defined in nova.availability_zones
#

# The availability_zone to show internal services under
# (string value)
#internal_service_availability_zone=internal

# Default compute node availability_zone (string value)
#default_availability_zone=nova

#
# Options defined in nova.netconf
#

# IP address of this host (string value)
#my_ip = {{ local_ip }}

# Name of this node.  This can be an opaque identifier.  It is
# not necessarily a hostname, FQDN, or IP address. However,
# the node name must be valid within an AMQP key, and if using
# ZeroMQ, a valid hostname, FQDN, or IP address (string value)
#host=nova

# Use IPv6 (boolean value)
#use_ipv6=false

#
# Options defined in nova.service
#

# Seconds between nodes reporting state to datastore (integer
# value)
#report_interval=10

# Enable periodic tasks (boolean value)
#periodic_enable=true

# Range of seconds to randomly delay when starting the
# periodic task scheduler to reduce stampeding. (Disable by
# setting to 0) (integer value)
#periodic_fuzzy_delay=60

# A list of APIs to enable by default (list value)
#enabled_apis=ec2,osapi_compute,metadata
enabled_apis=ec2,osapi_compute,metadata

# A list of APIs with enabled SSL (list value)
#enabled_ssl_apis=

# The IP address on which the EC2 API will listen. (string
# value)
#ec2_listen=0.0.0.0
ec2_listen=0.0.0.0

# The port on which the EC2 API will listen. (integer value)
#ec2_listen_port=8773

# Number of workers for EC2 API service. The default will be
# equal to the number of CPUs available. (integer value)
ec2_workers=4

# The IP address on which the OpenStack API will listen.
# (string value)
#osapi_compute_listen=0.0.0.0
osapi_compute_listen=0.0.0.0

# The port on which the OpenStack API will listen. (integer
# value)
#osapi_compute_listen_port=8774

# Number of workers for OpenStack API service. The default
# will be the number of CPUs available. (integer value)
#osapi_compute_workers=<None>
osapi_compute_workers=4

# OpenStack metadata service manager (string value)
#metadata_manager=nova.api.manager.MetadataManager

# The IP address on which the metadata API will listen.
# (string value)
metadata_listen=0.0.0.0

# The port on which the metadata API will listen. (integer
# value)
#metadata_listen_port=8775

# Number of workers for metadata service. The default will be
# the number of CPUs available. (integer value)
metadata_workers=4

# Full class name for the Manager for compute (string value)
#compute_manager=nova.compute.manager.ComputeManager

# Full class name for the Manager for console proxy (string
# value)
#console_manager=nova.console.manager.ConsoleProxyManager

# Manager for console auth (string value)
#consoleauth_manager=nova.consoleauth.manager.ConsoleAuthManager

# Full class name for the Manager for cert (string value)
#cert_manager=nova.cert.manager.CertManager

# Full class name for the Manager for network (string value)
#network_manager=nova.network.manager.FlatDHCPManager

# Full class name for the Manager for scheduler (string value)
#scheduler_manager=nova.scheduler.manager.SchedulerManager

# Maximum time since last check-in for up service (integer
# value)
#service_down_time=60
service_down_time=60

#
# Options defined in nova.api.metadata.handler
#

# Set flag to indicate Neutron will proxy metadata requests
# and resolve instance ids. (boolean value)
service_neutron_metadata_proxy = True

# Shared secret to validate proxies Neutron metadata requests
# (string value)
neutron_metadata_proxy_shared_secret = bb66531d966e4c72

#
# Options defined in nova.api.openstack.compute.servers
#

# Enables returning of the instance password by the relevant
# server API calls such as create, rebuild or rescue, If the
# hypervisor does not support password injection then the
# password returned will not be correct (boolean value)
#enable_instance_password=true

#
# Options defined in nova.cmd.novncproxy
#

# Host on which to listen for incoming requests (string value)
#novncproxy_host=0.0.0.0
novncproxy_host=0.0.0.0

# Port on which to listen for incoming requests (integer
# value)
#novncproxy_port=6080
novncproxy_port=6080

#
# Options defined in nova.compute.api
#

# Allow destination machine to match source for resize. Useful
# when testing in single-host environments. (boolean value)
allow_resize_to_same_host=false

# Allow migrate machine to the same host. Useful when testing
# in single-host environments. (boolean value)
allow_migrate_to_same_host=false

# Availability zone to use when user doesn't specify one
# (string value)
#default_schedule_zone=<None>

#
# Options defined in nova.compute.flavors
#

# Default flavor to use for the EC2 API only. The Nova API
# does not support a default flavor. (string value)
#default_flavor=m1.small


#
# Options defined in nova.compute.manager
#

# Where instances are stored on disk (string value)
#instances_path=$state_path/instances

# Generate periodic compute.instance.exists notifications
# (boolean value)
#instance_usage_audit=false

# Number of 1 second retries needed in live_migration (integer
# value)
#live_migration_retry_count=30

# Whether to start guests that were running before the host
# rebooted (boolean value)
#resume_guests_state_on_host_boot=false

# Automatically confirm resizes after N seconds. Set to 0 to
# disable. (integer value)
#resize_confirm_window=0

#
# Options defined in nova.compute.monitors
#

# Monitor classes available to the compute which may be
# specified more than once. (multi valued)
#compute_available_monitors=nova.compute.monitors.all_monitors

# A list of monitors that can be used for getting compute
# metrics. (list value)
#compute_monitors=

#
# Options defined in nova.db.api
#

# Services to be added to the available pool on create
# (boolean value)
#enable_new_services=true

# Template string to be used to generate instance names
# (string value)
instance_name_template=instance-%08x

# Template string to be used to generate snapshot names
# (string value)
snapshot_name_template=snapshot-%s


#
# Options defined in nova.image.glance
#

# Default glance hostname or IP address (string value)
#glance_host=$my_ip

# Default glance port (integer value)
#glance_port=9292

# Default protocol to use when connecting to glance. Set to
# https for SSL. (string value)
#glance_protocol=http

# A list of the glance api servers available to nova. Prefix
# with https:// for ssl-based glance api servers.
# ([hostname|ip]:port) (list value)
#glance_api_servers=$glance_host:$glance_port
glance_api_servers={{ controller_ip }}:9292

# Allow to perform insecure SSL (https) requests to glance
# (boolean value)
#glance_api_insecure=false

# Number of retries when downloading an image from glance
# (integer value)
#glance_num_retries=0

# A list of url scheme that can be downloaded directly via the
# direct_url.  Currently supported schemes: [file]. (list
# value)
#allowed_direct_url_schemes=

#
# Options defined in nova.network
#

# The full class name of the network API class to use (string
# value)
network_api_class=nova.network.neutronv2.api.API

#
# Options defined in nova.network.floating_ips
#

# Default pool for floating IPs (string value)
#default_floating_pool=nova

# Autoassigning floating IP to VM (boolean value)
#auto_assign_floating_ip=false

# Full class name for the DNS Manager for floating IPs (string
# value)
#floating_ip_dns_manager=nova.network.noop_dns_driver.NoopDNSDriver

# Full class name for the DNS Manager for instance IPs (string
# value)
#instance_dns_manager=nova.network.noop_dns_driver.NoopDNSDriver

# Full class name for the DNS Zone for instance IPs (string
# value)
#instance_dns_domain=

# The IP address for the metadata API server (string value)
#metadata_host=$my_ip
metadata_host = {{ controller_ip }}

# The port for the metadata API port (integer value)
#metadata_port=8775

#
# Options defined in nova.network.security_group.openstack_driver
#

security_group_api = neutron

#
# Options defined in nova.scheduler.filters.core_filter
#

cpu_allocation_ratio=10.0

#disk_allocation_ratio=1.0

#
# Options defined in nova.scheduler.filters.ram_filter
#

# Virtual ram to physical ram allocation ratio which affects
# all ram filters. This configuration specifies a global ratio
# for RamFilter. For AggregateRamFilter, it will fall back to
# this configuration value if no per-aggregate setting found.
# (floating point value)
#ram_allocation_ratio=1.5
ram_allocation_ratio=1.5


#
# Options defined in nova.scheduler.host_manager
#

# Filter classes available to the scheduler which may be
# specified more than once.  An entry of
# "nova.scheduler.filters.standard_filters" maps to all
# filters included with nova. (multi valued)
#scheduler_available_filters=nova.scheduler.filters.all_filters

# Which filter class names to use for filtering hosts when not
# specified in the request. (list value)
#scheduler_default_filters=RetryFilter,AvailabilityZoneFilter,RamFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,ServerGroupAntiAffinityFilter,ServerGroupAffinityFilter
scheduler_default_filters=RetryFilter,AvailabilityZoneFilter,RamFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,CoreFilter

#
# Options defined in nova.virt.driver
#

# Driver to use for controlling virtualization. Options
# include: libvirt.LibvirtDriver, xenapi.XenAPIDriver,
# fake.FakeDriver, baremetal.BareMetalDriver,
# vmwareapi.VMwareESXDriver, vmwareapi.VMwareVCDriver (string
# value)
#compute_driver=libvirt.LibvirtDriver
compute_driver=nova.virt.libvirt.LibvirtDriver

#
# Options defined in nova.virt.firewall
#

# Firewall driver (defaults to hypervisor specific iptables
# driver) (string value)
#firewall_driver=nova.virt.libvirt.firewall.IptablesFirewallDriver
firewall_driver=nova.virt.firewall.NoopFirewallDriver


#
# Options defined in nova.vnc
#

# Location of VNC console proxy, in the form
# "http://127.0.0.1:6080/vnc_auto.html" (string value)
#novncproxy_base_url=http://127.0.0.1:6080/vnc_auto.html
novncproxy_base_url=http://{{ controller_ip }}:6080/vnc_auto.html

# Location of nova xvp VNC console proxy, in the form
# "http://127.0.0.1:6081/console" (string value)
#xvpvncproxy_base_url=http://127.0.0.1:6081/console

# IP address on which instance vncservers should listen
# (string value)
#vncserver_listen=127.0.0.1
vncserver_listen={{ local_ip }}

# The address to which proxy clients (like nova-xvpvncproxy)
# should connect (string value)
#vncserver_proxyclient_address=127.0.0.1
vncserver_proxyclient_address={{ local_ip }}

# Enable VNC related features (boolean value)
vnc_enabled = True

#
# Options defined in nova.volume
#

# The full class name of the volume API class to use (string
# value)
#volume_api_class=nova.volume.cinder.API
volume_api_class=nova.volume.cinder.API

#
# Options defined in nova.wsgi
#

# File name for the paste.deploy config for nova-api (string
# value)
#api_paste_config=api-paste.ini
api_paste_config=/etc/nova/api-paste.ini

#
# Options defined in nova.api.auth
#

# Whether to use per-user rate limiting for the api. This
# option is only used by v2 api. Rate limiting is removed from
# v3 api. (boolean value)
#api_rate_limit=false

# The strategy to use for auth: noauth or keystone. (string
# value)
#auth_strategy=noauth
auth_strategy=keystone

# Treat X-Forwarded-For as the canonical remote address. Only
# enable this if you have a sanitizing proxy. (boolean value)
#use_forwarded_for=false
use_forwarded_for=False

#
# Options defined in nova.virt.driver
#
compute_driver=libvirt.LibvirtDriver

vif_plugging_is_fatal=true
vif_plugging_timeout=300

#
# Options defined in nova.virt.firewall
#

firewall_driver=nova.virt.firewall.NoopFirewallDriver

#
# Options defined in nova.volume
#

# The full class name of the volume API class to use (string
# value)
#volume_api_class=nova.volume.cinder.API
volume_api_class=nova.volume.cinder.API

image_service=nova.image.glance.GlanceImageService

[baremetal]

[cells]

[cinder]

[conductor]

[database]

connection=mysql://nova:{{ nova_dbpass }}@{{ controller_ip }}/nova

[glance]

#
# Options defined in nova.image.glance
#

# Default glance hostname or IP address (string value)
# Deprecated group;name - DEFAULT;glance_host
host={{ controller_ip }}

# Default glance port (integer value)
# Deprecated group;name - DEFAULT;glance_port
port=9292

# Default protocol to use when connecting to glance. Set to
# https for SSL. (string value)
# Deprecated group;name - DEFAULT;glance_protocol
protocol=http

# A list of the glance api servers available to nova. Prefix
# with https:// for ssl-based glance api servers.
# ([hostname|ip]:port) (list value)
# Deprecated group;name - DEFAULT;glance_api_servers
api_servers={{ controller_ip }}:9292

# Allow to perform insecure SSL (https) requests to glance
# (boolean value)
# Deprecated group;name - DEFAULT;glance_api_insecure
#api_insecure=false

# Number of retries when downloading an image from glance
# (integer value)
# Deprecated group;name - DEFAULT;glance_num_retries
#num_retries=0

# A list of url scheme that can be downloaded directly via the
# direct_url.  Currently supported schemes: [file]. (list
# value)
#allowed_direct_url_schemes=


[keystone_authtoken]

#auth_host = {{ controller_ip }}
#auth_port = 35357
#auth_protocol = http
auth_uri = http://{{ controller_ip }}:5000/v2.0
identity_uri = http://{{ controller_ip }}:35357
admin_tenant_name = services
admin_user = nova
admin_password = {{ nova_password }}

signing_dir = /tmp/keystone-signing-nova

[libvirt]

# Libvirt domain type (valid options are: kvm, lxc, qemu, uml,
# xen) (string value)
virt_type={{ libvirt_type }}

# Set to "host-model" to clone the host CPU feature flags; to
# "host-passthrough" to use the host CPU model exactly; to
# "custom" to use a named CPU model; to "none" to not set any
# CPU model. If virt_type="kvm|qemu", it will default to
# "host-model", otherwise it will default to "none" (string
# value)
cpu_mode={{ cpu_mode }}

live_migration_uri=qemu+tcp://nova@%s/system?keyfile=/etc/nova/ssh/nova_migration_key

# Migration flags to be set for live migration (string value)
#live_migration_flag=VIR_MIGRATE_UNDEFINE_SOURCE, VIR_MIGRATE_PEER2PEER, VIR_MIGRATE_LIVE, VIR_MIGRATE_TUNNELLED
live_migration_flag=VIR_MIGRATE_UNDEFINE_SOURCE,VIR_MIGRATE_PEER2PEER,VIR_MIGRATE_LIVE,VIR_MIGRATE_TUNNELLED

vif_driver=nova.virt.libvirt.vif.LibvirtGenericVIFDriver

[neutron]

#
# Options defined in nova.network.neutronv2.api
#

url = http://{{ controller_ip }}:9696/
url_timeout = 30
admin_username = neutron
admin_password = {{ neutron_password }}
admin_tenant_name = services
region_name = {{ keystone_region }}
admin_auth_url = http://{{ controller_ip }}:35357/v2.0
auth_strategy=keystone
ovs_bridge=br-int
extension_sync_interval=600

[osapi_v3]

enabled=False


