# {{ ansible_managed }}

[DEFAULT]

debug = False

# The Neutron user information for accessing the Neutron API.
auth_uri=http://{{ controller_ip }}:35357/v2.0
auth_region = {{ keystone_region }}
auth_insecure = True
admin_tenant_name = services
admin_user = neutron
admin_password = {{ neutron_password }}

use_namespaces = True

# Network service endpoint type to pull from the keystone catalog
# endpoint_type = adminURL

# IP address used by Nova metadata server
nova_metadata_ip = {{ controller_ip }}

# TCP Port used by Nova metadata server
nova_metadata_port = 8775

# When proxying metadata requests, Neutron signs the Instance-ID header with a
# shared secret to prevent spoofing.  You may select any string for a secret,
# but it must match here and in the configuration used by the Nova Metadata
# Server. NOTE: Nova uses a different key: neutron_metadata_proxy_shared_secret
# metadata_proxy_shared_secret =
metadata_proxy_shared_secret = bb66531d966e4c72


# Location of Metadata Proxy UNIX domain socket
# metadata_proxy_socket = $state_path/metadata_proxy

metadata_workers = 4

metadata_backlog = 4096
