[DEFAULT]

admin_token = {{ keystone_admin_token }}

debug=false
verbose=true

#log_file = /var/log/keystone/keystone.log
log_dir=/var/log/keystone
use_syslog = False

public_bind_host = 0.0.0.0
admin_bind_host = 0.0.0.0

# deprecated
compute_port = 8774


admin_port = 35357
public_port = 5000


rabbit_host=localhost
rabbit_port=5672
# RabbitMQ HA cluster host:port pairs. (list value)
rabbit_hosts=localhost:5672
rabbit_use_ssl=false
rabbit_userid=keystone
rabbit_password={{ keystone_mqpass }}
#rabbit_login_method=AMQPLAIN
rabbit_virtual_host=/
rabbit_ha_queues=False

[assignment]

[auth]
methods = password,token
password = keystone.auth.plugins.password.Password
token = keystone.auth.plugins.token.Token

[cache]

[catalog]

template_file=/etc/keystone/default_catalog.templates
driver=keystone.catalog.backends.sql.Catalog

[credential]

[database]
connection=mysql://keystone:{{ keystone_dbpass }}@localhost/keystone
idle_timeout=200

[identity]
driver = keystone.identity.backends.sql.Identity

[ec2]
driver = keystone.contrib.ec2.backends.sql.Ec2

[endpoint_filter]

[endpoint_policy]

[federation]

[identity]

[identity_mapping]

[kvs]

[ldap]

[matchmaker_redis]

[matchmaker_ring]

[memcache]

[oauth1]

[os_inherit]

[paste_deploy]

[policy]

[revoke]

[saml]

[signing]
token_format = {{ keystone_provider|upper }}

certfile = /etc/keystone/pki/certs/signing_cert.pem
keyfile = /etc/keystone/pki/private/signing_key.pem
ca_certs = /etc/keystone/pki/certs/cacert.pem
ca_key = /etc/keystone/pki/private/cakey.pem
key_size = 2048
valid_days = 3650
#cert_subject = /C=US/ST=NorthC/L=Raleigh/O=Teradata/CN=rdu.td.teradata.com

[ssl]
enable = False

[stats]

[token]
expiration=3600
driver=keystone.token.backends.sql.Token
provider=keystone.token.providers.{{ keystone_provider }}.Provider

[trust]

