# {{ ansible_managed }}
# NOTES:
# DHCP clients can append or replace NTP configuration files.
# You should consult your DHCP client documentation about its
# default behaviour and how to change it.

{% for server in ntp_servers %}
server {{ server }}
{% endfor %}

{% if local_clock is defined and local_clock %}
server 127.127.1.1              # LCL, local clock
fudge  127.127.1.1 stratum 12   # increase stratum
{% endif %}

# you should not need to modify the following paths
driftfile	/var/lib/ntp/ntp.drift

# If you want to deny all machines (including your own)
# from accessing the NTP server, uncomment:
#restrict default ignore

# Default configuration:
# - Allow only time queries, at a limited rate, sending KoD when in excess.
# - Allow all local queries (IPv4, IPv6)
restrict default nomodify nopeer noquery limited kod
restrict 127.0.0.1
restrict [::1]

# To allow machines within your network to synchronize
# their clocks with your server, but ensure they are
# not allowed to configure the server or used as peers
# to synchronize against, uncomment this line.
#
# restrict 192.168.0.0 mask 255.255.255.0 nomodify nopeer notrap
{% for address in allow_sync %}
restrict {{ address }} nomodify nopeer notrap
{% endfor %}
